{% extends 'base.html.twig' %}

{% block title %}Hello AddAdminController!{% endblock %}

{% block body %}
        {{ form_start(form) }}
        <img src="{{ asset('./../build/img/logo.png') }}" alt="Logo">
        <h3>Inscription</h3>
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.pwd.first) }}
        {{ form_row(form.pwd.second) }}
        {#{{ form_row(form.city) }}#}

        <button type="submit">Inscription!</button>
        {{ form_end(form) }}
</div>
{% endblock %}
