{% extends 'base.html.twig' %}

{% block title %}Connexion Admin!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

<div class="example-wrapper">

    <div class="row">


            <div class="form">

                <form class="login-form">
                    <img src="{{ asset('./../build/img/logo.png') }}" alt="Logo">
                    <h3>Connexion</h3>
                    <input type="text" placeholder="email" value="{{ last_email }}"/>
                    <input type="password" placeholder="mot de passe"/>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <button>Connexion</button>
                    <p class="message">Pas de compte? <a href="{{ path('add_register') }}">Créer un compte</a></p>

                </form>
            </div>
        </div>

    </div>
   {% block javascripts %}{% endblock %}
{% endblock %}
