<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <!--- basic page needs
    ================================================== -->
        <meta charset="utf-8">
        <title>YouCycle</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        ================================================== -->
        {#<link rel="stylesheet" href="{{ asset('build/css/base.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('build/css/vendor.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('build/css/main.css') }}">#}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
                  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                  crossorigin=""/>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- script
        ================================================== -->
        {#<script src="{{ asset('build/js/modernizr.js') }}"></script>#}
        {#<script src="{{ asset('build/js/pace.min.js') }}"></script>#}

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>

    <body id="top">

        {% block body %}{% endblock %}

        <!-- preloader ================================================== -->
        {#<div id="preloader">#}
            {#<div id="loader">#}
                {#<div class="line-scale-pulse-out">#}
                    {#<div></div>#}
                    {#<div></div>#}
                    {#<div></div>#}
                    {#<div></div>#}
                    {#<div></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <!-- Java Script
                    ================================================== -->
        {#<script src="{{ asset('build/js/plugins.js') }}"></script>#}
        {#<script src="{{ asset('build/js/main.js') }}"></script>#}

        {% block javascripts %}
            <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                    crossorigin=""></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('JSON/benne.json') }}"></script>
        {% endblock %}

    </body>
</html>
