<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--- basic page needs
    ================================================== -->
        <meta charset="utf-8">
        <title>YouCycle</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        ================================================== -->
        {#<link rel="stylesheet" href="{{ asset('build/css/base.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('build/css/vendor.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('build/css/main.css') }}">#}

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- script
        ================================================== -->
        {#<script src="{{ asset('build/js/modernizr.js') }}"></script>#}
        {#<script src="{{ asset('build/js/pace.min.js') }}"></script>#}

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>

    <body id="top">

        {% block body %}{% endblock %}

        <!-- preloader ================================================== -->
        <div id="preloader">
            <div id="loader">
                <div class="line-scale-pulse-out">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- Java Script
                    ================================================== -->
        {#<script src="{{ asset('build/js/plugins.js') }}"></script>#}
        {#<script src="{{ asset('build/js/main.js') }}"></script>#}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}

    </body>
</html>